/* Animate */
@keyframes elevate{
    0%{
        box-shadow: 0px 0px 0px 0px grey ;
    }

    25%{
        box-shadow: 0px 0px 5px 2px grey ;
    }
    
    50%{
        box-shadow: 0px 1px 5px 2px grey ;
    }

    75%{
        box-shadow: 0px 3px 5px 2px grey ;
    }

    100%{
        box-shadow: 0px 5px 5px 2px grey ;
    }
}

@keyframes noElevate{
    0%{
        box-shadow: 0px 5px 5px 2px grey ;
    }

    25%{
        box-shadow: 0px 3px 5px 2px grey ;
    }
    
    50%{
        box-shadow: 0px 1px 5px 2px grey ;
    }

    75%{
        box-shadow: 0px 0px 5px 2px grey ;
    }

    100%{
        box-shadow: 0px 1px 5px 1px grey;
    }
}

/* --------------------------------Animate--------------------------------------- */

body{
    background-color: rgb(194, 194, 194);
    padding-top: 10%;
}


.container {
    
    margin:auto;
    margin-top: 10px;
    font-family: 'Dancing Script', cursive;
    padding: 20px;
    width: 650px; 
    height: 300px;
    background-repeat: no-repeat;
    background-image: url("assets/backgorund.png");
    border-radius: 10px; 
    box-shadow: 0px 1px 5px 1px grey 
  
}
.container:hover{
    animation: elevate 0.1s forwards;
}
.container:not(:hover){
    animation: noElevate 0.1s forwards;
}


h1{
    
    font-size: 50px;
}

a{
    text-decoration: none;
    color: black;
    
    
}

li{
    list-style: none;
    font-size: 30px;
   
}

.insta{
    margin-top: 15px;
    list-style-image: url("assets/Insta.png");
    
}
.git{
    margin-top: 15px;
    list-style-image: url("assets/git.png");
    
}
.in{
    margin-top:15px;
    list-style-image: url("assets/linkedin.png");
}
